<div *ngIf="!display">
    <button id="ajouter-alerte-btn" class="btn btn-primary" (click)="onButtonAjouterClick()">Ajouter</button>
</div>
<div *ngIf="display">
    <span class="text-danger">{{generalError}}</span>
    <div>
      <div>
        <form [formGroup]="typeAlerteSelectListForm">
          <div class="form-group">
            <label for="typeAlerteSelect">Type d'alerte</label>
            <select class="form-control" id="typeAlerteSelect" formControlName="state" (change)="onChangeAlerteType($event)">
              <option value="1" [selected]="typeAlerte == 1">Alerte trio de donnée</option>
              <option value="2" [selected]="typeAlerte == 2">Alerte de capteur</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="typeAlerte == 1">
      <form [formGroup]="alerteForm">
          <div class="form-group">
            Destinataires: <input class="form-control" type="text" formControlName="destinataire">
          </div>
          <div class="form-group">
            Temperature Min.: <input class="form-control" type="text" formControlName="temperatureMin">
          </div>
          <div class="form-group">
            Temperature Max.: <input class="form-control" type="text" formControlName="temperatureMax">
          </div>
          <div class="form-group">
            Vaccium Min.: <input class="form-control" type="text" formControlName="vacciumMin">
          </div>
          <div class="form-group">
            Vaccium Max.: <input class="form-control" type="text" formControlName="vacciumMax">
          </div>
          <div class="form-group">
            Niveau Bassin Min.: <input class="form-control" type="text" formControlName="niveauBassinMin">
          </div>
          <div class="form-group">
            Niveau Bassin Max.: <input class="form-control" type="text" formControlName="niveauBassinMax">
          </div>
        <button id="creer-alerte-donnees-btn" class="btn btn-primary" (click)="onButtonCreerClick()">Créer</button>
        <button class="btn btn-secondary" (click)="onButtonAnnuleClick()">Annuler</button>
        <div>
          <span class="text-danger">{{generalError}}</span>
        </div>
      </form>
    </div>
    <div *ngIf="typeAlerte == 2">
      <form [formGroup]="alerteCapteurForm">
          <div class="form-group">
            Capteur: <select class="form-control" formControlName="idCapteur">
              <option *ngFor="let capteur of capteurs" [value]="capteur.id">{{capteur.nom}}</option>
            </select>
          </div>
          <div class="form-group">
            Destinataires: <input class="form-control" type="text" formControlName="destinataire">
          </div>
          <div class="form-group">
            Min.: <input class="form-control" type="text" formControlName="min">
          </div>
          <div class="form-group">
            Max.: <input class="form-control" type="text" formControlName="max">
          </div>
        <button id="creer-alerte-capteur-btn" class="btn btn-primary" (click)="onButtonCreerAlerteCapteurClick()">Créer</button>
        <button class="btn btn-secondary" (click)="onButtonAnnuleClick()">Annuler</button>
        <div>
          <span class="text-danger">{{generalError}}</span>
        </div>
      </form>
    </div>
</div>