<h3>Alertes</h3>
<ajouter-alerte-modal *ngIf="!displayEditForm"
    [idErabliereSelectionee]="idErabliereSelectionee"
    [alertes]="alertes"
    [alertesCapteur]="alertesCapteur">
</ajouter-alerte-modal>
<modifier-alerte-modal *ngIf="displayEditForm || displayEditAlerteCapteurForm"
    [idErabliereSelectionee]="idErabliereSelectionee"
    [displayEditFormSubject]="displayEditFormSubject"
    [alerteEditFormSubject]="alerteEditFormSubject"
    [alerte]="alerteEditForm"
    [alerteCapteurEditFormSubject]="alerteCapteurEditFormSubject"
    [alerteCapteur]="alerteCapteurEditForm"
    [editAlerte]="editAlerte"
    [editAlerteCapteur]="editAlerteCapteur">
</modifier-alerte-modal>
<div>
    <p *ngIf="alertes != null && alertes.length == 0 && alertesCapteur != null && alertesCapteur.length == 0">Aucune alerte de configuré</p>

    <div *ngIf="alertesCapteur != null && alertesCapteur.length > 0">
        <h4>Alerte capteurs</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        État
                    </th>
                    <th>
                        Envoyer à
                    </th>
                    <th>
                        Min.
                    </th>
                    <th>
                        Max.
                    </th>
                    <th>
                        Capteur
                    </th>
                    <th></th>
                <tr>
            </thead>
            <tbody>
                <tr *ngFor="let alerte of alertesCapteur">
                    <td class="shortid">
                        {{alerte.id}}
                    </td>
                    <td>
                        {{alerte.nom}}
                    </td>
                    <td *ngIf="alerte.isEnable">
                        Activé
                    </td>
                    <td *ngIf="!alerte.isEnable">
                        Désactivé
                    </td>
                    <td>
                      <span *ngFor="let email of alerte.emails" class="feature_desc">{{email}}</span>
                    </td>
                    <td>
                        {{alerte.minVaue}}
                    </td>
                    <td>
                        {{alerte.maxValue}}
                    </td>
                    <td class="shortid">
                        {{alerte.idCapteur}}
                    </td>
                    <td>
                        <button *ngIf="alerte.isEnable" class="btn btn-outline-warning btn-block" (click)="onButtonDesactiverAlerteCapteurClick(alerte.idCapteur, alerte.id)">désactiver</button>
                        <button *ngIf="!alerte.isEnable" class="btn btn-outline-success btn-block" (click)="onButtonActiverAlerteCapteurClick(alerte.idCapteur, alerte.id)">activer</button>
                        <button class="btn btn-info btn-block" (click)="onButtonModifierAlerteCapteurClick(alerte.id)">modifier</button>
                        <button class="btn btn-danger btn-block" (click)="onButtonDeleteAlerteCapteurClick(alerte.idCapteur, alerte.id)">supprimer</button>
                    </td>
                <tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="alertes != null && alertes.length > 0">
        <h4>Alerte trio données</h4>
        <table *ngIf="alertes != null && alertes.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        État
                    </th>
                    <th>
                        Envoyer à
                    </th>
                    <th>
                        Temperature min.
                    </th>
                    <th>
                        Temperature max.
                    </th>
                    <th>
                        Vaccium min.
                    </th>
                    <th>
                        Vaccium max.
                    </th>
                    <th>
                        Niveau bassin min.
                    </th>
                    <th>
                        Niveau bassin max.
                    </th>
                    <th></th>
                <tr>
            </thead>
            <tbody>
                <tr *ngFor="let alerte of alertes">
                    <td class="shortid">
                        {{alerte.id}}
                    </td>
                    <td>
                        {{alerte.nom}}
                    </td>
                    <td *ngIf="alerte.isEnable">
                        Activé
                    </td>
                    <td *ngIf="!alerte.isEnable">
                        Désactivé
                    </td>
                    <td>
                      <span *ngFor="let email of alerte.emails" class="feature_desc">{{email}}</span>
                    </td>
                    <td>
                        {{alerte.temperatureThresholdHight}}
                    </td>
                    <td>
                        {{alerte.temperatureThresholdLow}}
                    </td>
                    <td>
                        {{alerte.vacciumThresholdHight}}
                    </td>
                    <td>
                        {{alerte.vacciumThresholdLow}}
                    </td>
                    <td>
                        {{alerte.niveauBassinThresholdHight}}
                    </td>
                    <td>
                        {{alerte.niveauBassinThresholdLow}}
                    </td>
                    <td>
                        <button *ngIf="alerte.isEnable" class="btn btn-outline-warning btn-block" (click)="onButtonDesactiverAlerteClick(alerte.id)">désactiver</button>
                        <button *ngIf="!alerte.isEnable" class="btn btn-outline-success btn-block" (click)="onButtonActiverAlerteClick(alerte.id)">activer</button>
                        <button class="btn btn-info btn-block" (click)="onButtonModifierClick(alerte.id)">modifier</button>
                        <button class="btn btn-danger btn-block" (click)="onButtonDeleteClick(alerte.id)">supprimer</button>
                    </td>
                <tr>
            </tbody>
        </table>
    </div>
</div>
