.shortid {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 25px;
}

.feature_desc {
    display: block;
}
.feature_desc:before {
    content: "";
    display: block;
}