<div>
    <h3>Alertes</h3>
</div>
<ajouter-alerte-modal *ngIf="!displayEditForm" [idErabliereSelectionee]="idErabliereSelectionee" [alertes]="alertes"
    [alertesCapteur]="alertesCapteur">
</ajouter-alerte-modal>
<modifier-alerte-modal *ngIf="displayEditForm || displayEditAlerteCapteurForm"
    [idErabliereSelectionee]="idErabliereSelectionee" [displayEditFormSubject]="displayEditFormSubject"
    [alerteEditFormSubject]="alerteEditFormSubject" [alerte]="alerteEditForm"
    [alerteCapteurEditFormSubject]="alerteCapteurEditFormSubject" [alerteCapteur]="alerteCapteurEditForm"
    [editAlerte]="editAlerte" [editAlerteCapteur]="editAlerteCapteur">
</modifier-alerte-modal>
<div>
    <p *ngIf="alertes != null && alertes.length == 0 && alertesCapteur != null && alertesCapteur.length == 0">
        Aucune alerte de configuré
    </p>

    <div *ngIf="alertesCapteur != null && alertesCapteur.length > 0">
        <h4>Alerte capteurs</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        État
                    </th>
                    <th>
                        Envoyer à
                    </th>
                    <th>
                        Min.
                    </th>
                    <th>
                        Max.
                    </th>
                    <th>
                        Capteur
                    </th>
                    <th></th>
                <tr>
            </thead>
            <tbody>
                <tr *ngFor="let alerte of alertesCapteur">
                    <td class="shortid">
                        {{alerte.id}}
                    </td>
                    <td>
                        {{alerte.nom}}
                    </td>
                    <td *ngIf="alerte.isEnable">
                        Activé
                    </td>
                    <td *ngIf="!alerte.isEnable">
                        Désactivé
                    </td>
                    <td>
                        <span *ngFor="let email of alerte.emails" class="feature_desc">{{email}}</span>
                    </td>
                    <td>
                        {{formatNumber(alerte.minVaue, alerte.capteur?.symbole)}}
                    </td>
                    <td>
                        {{formatNumber(alerte.maxValue, alerte.capteur?.symbole)}}
                    </td>
                    <td>
                        {{alerte.capteur?.nom}}
                    </td>
                    <td>
                        <div class="d-grid gap-3">
                            <button *ngIf="alerte.isEnable" class="btn btn-outline-warning"
                                (click)="onButtonDesactiverAlerteCapteurClick(alerte.idCapteur, alerte.id)">désactiver</button>
                            <button *ngIf="!alerte.isEnable" class="btn btn-outline-success"
                                (click)="onButtonActiverAlerteCapteurClick(alerte.idCapteur, alerte.id)">activer</button>
                            <button class="btn btn-info"
                                (click)="onButtonModifierAlerteCapteurClick(alerte.id)">modifier</button>
                            <button class="btn btn-danger"
                                (click)="onButtonDeleteAlerteCapteurClick(alerte.idCapteur, alerte.id)">supprimer</button>

                        </div>
                    </td>
                <tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="alertes != null && alertes.length > 0">
        <h4>Alerte trio données</h4>
        <table *ngIf="alertes != null && alertes.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Nom
                    </th>
                    <th>
                        État
                    </th>
                    <th>
                        Envoyer à
                    </th>
                    <th>
                        Temperature min.
                    </th>
                    <th>
                        Temperature max.
                    </th>
                    <th>
                        Vaccium min.
                    </th>
                    <th>
                        Vaccium max.
                    </th>
                    <th>
                        Niveau bassin min.
                    </th>
                    <th>
                        Niveau bassin max.
                    </th>
                    <th></th>
                <tr>
            </thead>
            <tbody>
                <tr *ngFor="let alerte of alertes">
                    <td class="shortid">
                        {{alerte.id}}
                    </td>
                    <td>
                        {{alerte.nom}}
                    </td>
                    <td *ngIf="alerte.isEnable">
                        Activé
                    </td>
                    <td *ngIf="!alerte.isEnable">
                        Désactivé
                    </td>
                    <td>
                        <span *ngFor="let email of alerte.emails" class="feature_desc">{{email}}</span>
                    </td>
                    <td>
                        {{formatStringNumber(alerte.temperatureThresholdHight, "°C")}}
                    </td>
                    <td>
                        {{formatStringNumber(alerte.temperatureThresholdLow, "°C")}}
                    </td>
                    <td>
                        {{formatStringNumber(alerte.vacciumThresholdHight, "HG")}}
                    </td>
                    <td>
                        {{formatStringNumber(alerte.vacciumThresholdLow, "HG")}}
                    </td>
                    <td>
                        {{formatStringNumberBase10(alerte.niveauBassinThresholdHight, "%")}}
                    </td>
                    <td>
                        {{formatStringNumberBase10(alerte.niveauBassinThresholdLow, "%")}}
                    </td>
                    <td>
                        <div class="d-grid gap-3">
                            <button *ngIf="alerte.isEnable" class="btn btn-outline-warning"
                                (click)="onButtonDesactiverAlerteClick(alerte.id)">désactiver</button>
                            <button *ngIf="!alerte.isEnable" class="btn btn-outline-success"
                                (click)="onButtonActiverAlerteClick(alerte.id)">activer</button>
                            <button class="btn btn-info" (click)="onButtonModifierClick(alerte.id)">modifier</button>
                            <button class="btn btn-danger" (click)="onButtonDeleteClick(alerte.id)">supprimer</button>
                        </div>
                    </td>
                <tr>
            </tbody>
        </table>
    </div>
</div>