<div *ngIf="editAlerte">
    <span class="text-danger">{{generalError}}</span>
    <p>Id: {{ alerte?.id }}</p>
    <form [formGroup]="alerteForm">
        <div class="form-group">
          Destinataires: <input class="form-control" type="text" formControlName="destinataire">
        </div>
        <div class="form-group">
          Temperature Min.: <input class="form-control" type="text" formControlName="temperatureMin">
        </div>
        <div class="form-group">
          Temperature Max.: <input class="form-control" type="text" formControlName="temperatureMax">
        </div>
        <div class="form-group">
          Vaccium Min.: <input class="form-control" type="text" formControlName="vacciumMin">
        </div>
        <div class="form-group">
          Vaccium Max.: <input class="form-control" type="text" formControlName="vacciumMax">
        </div>
        <div class="form-group">
          Niveau Bassin Min.: <input class="form-control" type="text" formControlName="niveauBassinMin">
        </div>
        <div class="form-group">
          Niveau Bassin Max.: <input class="form-control" type="text" formControlName="niveauBassinMax">
        </div>
      <button class="btn btn-primary" (click)="onButtonModifierClick()">Modifier</button>
      <button class="btn btn-secondary" (click)="onButtonAnnuleClick()">Annuler</button>
      <div>
        <span class="text-danger">{{generalError}}</span>
      </div>
    </form>
</div>
<div *ngIf="editAlerteCapteur">
  <span class="text-danger">{{generalError}}</span>
  <p>Id: {{ alerteCapteur?.id }}</p>
  <form [formGroup]="alerteCapteurForm">
      <div class="form-group">
        Destinataires: <input class="form-control" type="text" formControlName="destinataire">
      </div>
      <div class="form-group">
        Min.: <input class="form-control" type="text" formControlName="min">
      </div>
      <div class="form-group">
        Max.: <input class="form-control" type="text" formControlName="max">
      </div>
    <button class="btn btn-primary" (click)="onButtonModifierAlerteCapteurClick()">Modifier</button>
    <button class="btn btn-secondary" (click)="onButtonAnnuleClick()">Annuler</button>
    <div>
      <span class="text-danger">{{generalError}}</span>
    </div>
  </form>
</div>