<div *ngIf="editAlerte">
    <span class="text-danger">{{generalError}}</span>
    <p><span i18n="idFormulaire">Id: </span>{{ alerte?.id }}</p>
    <form [formGroup]="alerteForm">
        <div class="form-group">
          <label class="form-label" i18n="nomFormualire">Nom: </label>
          <input class="form-control" type="text" formControlName="nom">
        </div>
        <div class="form-group">
          <label class="form-label" i18n="destinatairesCourrielFormulaire">Destinataires du courriel: </label>
          <input class="form-control" type="text" formControlName="destinataireCourriel">
        </div>
        <div class="form-group">
          <label class="form-label" i18n="destinatairesSMSFormulaire">Destinataires du SMS: </label>
          <input class="form-control" type="text" formControlName="destinataireSMS">
        </div>
        <div class="form-group">
          <label class="form-label" i18n="temperatureMinFormulaire">Température Min.: </label>
          <einput [formGroup]="alerteForm" name="temperatureMin" symbole="°C" />
        </div>
        <div class="form-group">
          <label class="form-label" i18n="temperatureMaxFormulaire">Température Max.: </label>
          <einput [formGroup]="alerteForm" name="temperatureMax" symbole="°C" />
        </div>
        <div class="form-group">
          <label class="form-label" i18n="vacuumMinFormulaire">Vacuum Min.: </label>
          <einput [formGroup]="alerteForm" name="vacciumMin" symbole="HG" />
        </div>
        <div class="form-group">
          <label class="form-label" i18n="vacuumMaxFormulaire">Vacuum Max.: </label>
          <einput [formGroup]="alerteForm" name="vacciumMax" symbole="HG" />
        </div>
        <div class="form-group">
          <label class="form-label" i18n="niveauBassinMinFormulaire">Niveau Bassin Min.: </label>
          <einput [formGroup]="alerteForm" name="niveauBassinMin" symbole="%" />
        </div>
        <div class="form-group">
          <label class="form-label" i18n="niveauBassinMaxFormulaire">Niveau Bassin Max.: </label>
          <einput [formGroup]="alerteForm" name="niveauBassinMax" symbole="%" />
        </div>
      <button class="btn btn-primary" (click)="onButtonModifierClick()" i18n="boutonModifier">Modifier</button>
      <button class="btn btn-secondary" (click)="onButtonAnnuleClick()" i18n="boutonAnnuler">Annuler</button>
      <div>
        <span class="text-danger">{{generalError}}</span>
      </div>
    </form>
</div>
<div *ngIf="editAlerteCapteur">
  <span class="text-danger">{{generalError}}</span>
  <p><span i18n="idFormulaire">Id: </span>{{ alerteCapteur?.id }}</p>
  <form [formGroup]="alerteCapteurForm">
      <div class="form-group">
        <label class="form-label" i18n="nomFormualire">Nom: </label>
        <input class="form-control" type="text" formControlName="nom">
      </div>
      <div class="form-group">
        <label class="form-label" i18n="destinatairesCourrielFormulaire">Destinataires du courriel: </label>
        <input class="form-control" type="text" formControlName="destinataireCourriel">
      </div>
      <div class="form-group">
        <label class="form-label" i18n="destinatairesSMSFormulaire">Destinataires du SMS: </label>
        <input class="form-control" type="text" formControlName="destinataireSMS">
      </div>
      <div class="form-group">
        <label class="form-label" i18n="minFormualire">Min.: </label>
        <einput [formGroup]="alerteCapteurForm" name="min" [symbole]="alerteCapteur?.capteur?.symbole" />
      </div>
      <div class="form-group">
        <label class="form-label" i18n="maxFormulaire">Max.: </label>
        <einput [formGroup]="alerteCapteurForm" name="max" [symbole]="alerteCapteur?.capteur?.symbole" />
      </div>
      <button class="btn btn-primary mt-3 mb-3" (click)="onButtonModifierAlerteCapteurClick()" i18n="boutonModifier">Modifier</button>
      <button class="btn btn-secondary mt-3 mb-3" (click)="onButtonAnnuleClick()" i18n="boutonAnnuler">Annuler</button>
    <div>
      <span class="text-danger">{{generalError}}</span>
    </div>
  </form>
</div>