<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th class="min"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td class="min">
                    <button
                        type="button"
                        class="btn btn-outline-primary"
                        (click)="signalerModification(customer)">
                        Modifier
                    </button>
                    &nbsp;
                    <button
                        type="button"
                        class="btn btn-outline-danger"
                        (click)="signalerSuppression(customer)">
                        Supprimer
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
