<h3>Notes</h3>
<ajouter-note [idErabliereSelectionee]="idErabliereSelectionee"></ajouter-note>
<div class="row ml-1">
    <div *ngIf="notes == undefined || notes.length == 0">
        <p>Aucune note</p>
    </div>
    <div *ngFor="let note of notes" class="col-12">
        <div class="row">
            <h4 class="mt-4">{{ note.title }}</h4>
        </div>
        
        <div class="row">
            <p>{{ note.noteDate }}</p>
        </div>

        <div class="row">
            <p>{{ note.text }}</p>
        </div>
        
        <div class="row">
            <img *ngIf="note.file != ''" src="data:image/png;base64,{{ note.file }}" />
        </div>
    </div>
</div>
