@if (!isLoggedIn) {
<div class="container-fluid">
    <div class="alert alert-info alert-dismissible fade show mb-0" role="alert">
        <strong>Vous n'êtes pas connecté </strong>
        <button class="btn btn-link p-0" (click)="login()" style="vertical-align: top;">Cliquer ici pour vous connecter</button>
        @if (tenantId === 'common') {
        <p>Connectez-vous maintenant avec votre compte Microsoft.</p>
        }
        <p>Pour obtenir un compte, communiquer à l'administrateur. Vous trouverez les informations dans la page À propos.</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
}
