<nav class="navbar navbar-expand-lg row">
    <div class="col-lg-2">
        <h2>Érablière IU</h2>
    </div>
    <div class="col-lg-10">
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @if (idErabliereSelectionee) {
                    <a
                        class="nav-link ps-0"
                        routerLink="/e/{{idErabliereSelectionee}}/graphiques"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Graphiques
                    </a>
                    } @else {
                    <a
                        class="nav-link"
                        routerLink="e"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page">
                        Graphiques
                    </a>
                    }
                    </li>
                @for (url of urls; track url) {
                <li class="nav-item">
                    <a class="nav-link" href="{{ url.href }}" role="button" target="_blank" rel="noopener noreferrer">{{ url.text }}</a>
                </li>
                }
                @if (isLoggedIn && thereIsAtLeastOneErabliere) {
                <li class="nav-item">
                    <a id="nav-menu-alerte-button" class="nav-link" routerLink="e/{{idErabliereSelectionee}}/alertes" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Alertes
                    </a>
                </li>
                <li class="nav-item">
                    <a id="nav-menu-notes-button" class="nav-link" routerLink="e/{{idErabliereSelectionee}}/notes" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Notes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="e/{{idErabliereSelectionee}}/documentations" routerLinkActive="active" ariaCurrentWhenActive="page">
                        Documentation
                    </a>
                </li>
                }
                <li class="nav-item">
                    <a class="nav-link" routerLink="/apropos" routerLinkActive="active" ariaCurrentWhenActive="page">
                        À Propos
                    </a>
                </li>
            </ul>
            <div class="d-flex gap-2">
                @if (!useAuthentication || isAdminUser) {
                <button id="zone-admin-button" class="btn btn-outline-primary" routerLink="/admin">Érablière Admin</button>
                }
                @if (useAuthentication) {
                @if (callFeatureEnable && callFeatureEnableForUser) {
                <agora-call-service></agora-call-service>
                }
                <connection-button (loginChange)="onLoginChange($event)" />
                }
          </div>
        </div>
    </div>
</nav>
