<nav class="navbar navbar-expand-lg navbar-light bd-navbar">
    <div class="container-fluid">
        <h2 class="ms-4 me-5">Érablière Admin</h2>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-auto">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/admin/customers"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page"
                    >
                        Clients
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink="/admin/erablieres"
                        routerLinkActive="active"
                        ariaCurrentWhenActive="page"
                    >
                        Érablières
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        routerLink=""
                    >
                        ÉrablièreIU
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
