<form [formGroup]="ajoutCapteurForm" class="mb-3" novalidate>
    <!-- ajouter la section des erreurs général -->
    @if (generalError) {
        <span class="text-danger">
            {{ generalError }}
        </span>
    }
    <div [class]="'mb-3' + (ajoutCapteurForm.controls['nom'].touched ? ' was-validated' : '')">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" formControlName="nom"
               placeholder="Nom du capteur"
               maxlength="200"
               required>
        <input-error [errorObj]="errorObj" [controlName]="'nom'"></input-error>
        @if(ajoutCapteurForm.controls['nom'].hasError('maxlength')) {
            <div class="invalid-feedback">Le nom est trop long.</div>
        } @else if(ajoutCapteurForm.controls['nom'].hasError('required')) {
            <div class="invalid-feedback">Le nom est obligatoire.</div>
        }

    </div>

    <div [class]="'mb-3' + (ajoutCapteurForm.controls['symbole'].touched ? ' was-validated' : '')">
        <label for="symbole" class="form-label">Symbole</label>
        <input type="text" class="form-control" id="symbole" name="symbole" formControlName="symbole"
               placeholder="°C"
               maxlength="5">
        <input-error [errorObj]="errorObj" [controlName]="'symbole'"></input-error>
    </div>

    <div class="form-check form-switch">
        <label for="afficherCapteurDashboard" class="form-label">Afficher dans les graphiques:</label>
        <input type="checkbox" class="form-check-input" id="afficherCapteurDashboard" formControlName="affichageDashboard">
        <input-error [errorObj]="errorObj" [controlName]="'afficherCapteurDashboard'"></input-error>
    </div>

    <div class="form-check form-switch mb-3">
        <label for="ajouterDonneeDepuisInterface" class="form-check-label">Saisie manuelle</label>
        <input type="checkbox" class="form-check-input" id="ajouterDonneeDepuisInterface" formControlName="saisieManuelle">
        <input-error [errorObj]="errorObj" [controlName]="'ajouterDonneeDepuisInterface'"></input-error>
    </div>

    <button class="btn btn-primary me-2" (click)="ajouterCapteur()">Ajouter</button>
    <button type="button" class="btn btn-secondary" (click)="buttonAnnuler()">Annuler</button>
</form>
