<!-- Une table qui liste les capteurs -->
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Symbole</th>
            <th scope="col">Afficher dans les graphiques</th>
            <th scope="col">Saisi manuel</th>
            <th scope="col">Date création</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let capteur of capteurs">
            <td>{{capteur.nom}}</td>
            <td>{{capteur.symbole}}</td>
            <td>{{capteur.afficherCapteurDashboard}}</td>
            <td>{{capteur.ajouterDonneeDepuisInterface}}</td>
            <td>{{formatDateJour(capteur.dc)}}</td>
            <td><button type="button" class="btn btn-outline-primary btn-sm" (click)="showModifierCapteur(capteur)" [disabled]="">Modifier</button></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="supprimerCapteur(capteur)" [disabled]="">Supprimer</button></td>
        </tr>
    </tbody>
</table>