<ajouter-erabliere (shouldReloadErablieres)="loadErablieresPage()"></ajouter-erabliere>
<modifier-erabliere (shouldReloadErablieres)="loadErablieresPage()"></modifier-erabliere>

<div class="row">
    <div class="col-lg-2 border-right" [hidden]="cacheMenuErabliere">
        <div class="list-group">
            <a *ngIf="etat != 'Chargement des erablieres terminé'" 
               class="list-group-item list-group-item-action" href="#">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{etat}}</h5>
                </div>
            </a>
            <a *ngFor="let erabliere of erablieres" 
                href="#" 
                class="list-group-item list-group-item-action"
                [class.active]="erabliereSelectionnee?.id === erabliere.id"
                (click)="handleErabliereLiClick(erabliere.id)">{{erabliere.nom}} <button *ngIf="(!erabliere.isPublic || authDisabled)"
                                                                                         class="btn btn-info btn-sm float-right"
                                                                                         (click)="openEditErabliereForm(erabliere)"
                                                                                         data-toggle="modal" data-target="#modifierErabliereFormModal">Edit</button></a>
            <button *ngIf="loggedIn" class="list-group-item list-group-item-action" 
                    data-toggle="modal" data-target="#erabliereFormModal">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Ajouter une erablière</h5>
                </div>
            </button>
        </div>
    </div>

    <div *ngIf="erabliereSelectionnee !== null" class="col-lg-10 col-md-12" [hidden]="pageSelectionnee !== 0">
        <graphique [erabliere]="erabliereSelectionnee"></graphique>
    </div>

    <alerte-page class="col-lg-10 col-md-12" [alertes]="alertes" [alertesCapteur]="alertesCapteur" [hidden]="pageSelectionnee !== 1" [idErabliereSelectionee]="idSelectionnee">
    </alerte-page>

    <documentation class="col-lg-10 col-md-12" [documentations]="documentations" [hidden]="pageSelectionnee !== 4" [idErabliereSelectionee]="idSelectionnee">
    </documentation>

    <notes class="col-lg-10 col-md-12" 
          [notes]="notes" 
          [hidden]="pageSelectionnee !== 5" 
          [idErabliereSelectionee]="idSelectionnee"
          (needToUpdate)="loadNotes()">
    </notes>

    <div class="container">
        <div>
            <div class="container">
                <apropos class="col-12" [hidden]="pageSelectionnee !== 3"></apropos>
            </div>
        </div>
    </div>
</div>