<form #erabliereForm="ngForm">
    <span class="text-danger">
        {{generalError}}
    </span>
    <div class="form-group">
        <label for="nomErabliere">Nom de l'érablière</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom de l'erablière"
               [(ngModel)]="erabliere.nom">
        <input-error [errorObj]="errorObj" [controlName]="'nom'"></input-error>
    </div>
    <div [hidden]="!plusdOptions">
        <div class="form-group">
            <label for="ipRules">Règle IP</label>
            <input type="text" class="form-control" id="ipRule" name="ipRule" rows="3" placeholder="Règle IP"
                   [(ngModel)]="erabliere.ipRule">
            <input-error [errorObj]="errorObj" [controlName]="'ipRule'"></input-error>
        </div>
        <div class="form-group">
            <label for="numeroOrdre">Numéro ordre</label>
            <input type="text" class="form-control" id="indiceOrdre" name="indiceOrdre" placeholder="0"
            [(ngModel)]="erabliere.indiceOrdre">
            <input-error [errorObj]="errorObj" [controlName]="'indiceOrdre'"></input-error>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="afficherSectionBaril" name="afficherSectionBaril"
            [(ngModel)]="erabliere.afficherSectionBaril">
            <label for="utiliserSectionBaril" class="form-check-label">Afficher section barils</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="afficherTrioDonnees" name="afficherTrioDonnees"
            [(ngModel)]="erabliere.afficherTrioDonnees">
            <label for="utiliserSectionTrioDonnees" class="form-check-label">Afficher trio données</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="afficherSectionDompeux" name="afficherSectionDompeux"
            [(ngModel)]="erabliere.afficherSectionDompeux">
            <label for="utiliserSectionDompeux" class="form-check-label">Afficher section dompeux</label>
        </div>
        <hr />
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="indiquateurIsPublic" name="indiquateurIsPublic"
            [(ngModel)]="erabliere.isPublic">
            <label for="indiquateurIsPublic" class="form-check-label">Érablière publique</label>
        </div>
        <hr />
    </div>
    <div class="form-group">
        <button type="button" 
                class="btn btn-sm mt-3"
                [ngClass]="plusdOptions ? 'btn-sm btn-secondary' : 'btn-sm btn-success'"
                (click)="afficherPlusOptions()">{{ plusOptionsButtonText }}</button>
    </div>
</form>