<div class="row">
    <div class="col-md-10 order-2 order-md-1">
        @if (erabliere?.codePostal?.trim() || displayImages) {
        <div class="row border-top py-2">
            @if (erabliere?.codePostal?.trim()) {
            <weather-forecast
                class="col-md-6"
                [erabliere]="erabliere">
            </weather-forecast>
            }
            @if (displayImages) {
            <image-panel class="col-md-6" [idErabliereSelectionnee]="idErabliereSelectionee"></image-panel>
            }
        </div>
        }
        @if (erabliere?.afficherTrioDonnees || erabliere?.afficherSectionDompeux) {
        <donnees-panel [initialErabliere]="erabliere"
                    [erabliereSubject]="resetErabliere">
        </donnees-panel>
        }
        @if (displayCapteurs) {
        <capteur-pannels [capteurs]="erabliere?.capteurs" [erabliere]="erabliere"></capteur-pannels>
        }
        @if (erabliere?.afficherSectionBaril) {
        <barils-panel [erabliereId]="erabliere?.id"></barils-panel>
        }
    </div>
    <div class="col-md-2 order-1 order-md-2 py-2">
        <app-rappels [idErabliereSelectionnee]="erabliere?.id"></app-rappels>
    </div>
</div>
