<h3>Capteurs</h3>
<!-- Component CRUD pour les page-capteurs des érablière -->

@if(afficherSectionAjouterCapteur) {
    <div>
        <ajouter-capteur
            [idErabliere]="idErabliere"
            (hideAjouterCapteur)="hideAjouterCapteur()"
            (shouldReloadCapteurs)="getCapteurs()"></ajouter-capteur>
    </div>
} @else {
    <div>
        <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            (click)="showAjouterCapteur()">Ajouter un capteur</button>
    </div>
}
<capteur-list
            [idErabliere]="idErabliere"
            [capteurs]="capteurs"
            (shouldRefreshCapteurs)="ngOnInit()"></capteur-list>


