<div class="container">
    <h5>Accès</h5>
    <!-- Si une erreur a eu lieu de du chargement des droits, afficher un message d'erreur -->
    <div *ngIf="erreurChargementDroits">
        <div class="alert alert-danger" role="alert">
            Une erreur est survenue lors du chargement des droits.
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Nom Unique</th>
                    <th>Accès</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acces of customersAccess">
                    <td>{{acces.customer?.name}}</td>
                    <td>{{acces.customer?.email}}</td>
                    <td>{{acces.customer?.uniqueName}}</td>
                    <td>
                        <edit-access [acces]="acces" [displayEditAccess]="displayEditAccess"
                            (shouldUpdateAccess)="shouldRefreshAccessAfterUpdate($event)"></edit-access>
                    </td>
                    <td>
                        <div class="d-grid gap-3">
                            <button *ngIf="!displayEditAccess" class="btn btn-outline-info btn-sm me-3"
                                (click)="showEditForm()">&#9998;</button>
                            <button class="btn btn-danger btn-sm me-3" (click)="supprimer(acces)">&#10683;</button>
                            <button *ngIf="displayEditAccess" class="btn btn-outline-secondary btn-sm me-3"
                                (click)="hideEditForm()">&#8854;</button>

                        </div>
                    </td>
                </tr>
                <tr *ngIf="displayNewLine">
                    <td></td>
                    <td></td>
                    <td>
                        <select-customer (customerSelected)="customerSelected($event)"></select-customer>
                    </td>
                    <td>
                        <select class="form-control form-control-sm form-select"
                            [(ngModel)]="newCustomerAccess.customerErablieres[0].access" placeholder="Accès">
                            <option value="0">Aucun</option>
                            <option value="1">Lecture</option>
                            <option value="2">Création</option>
                            <option value="3">Lecture et création</option>
                            <option value="4">Modification</option>
                            <option value="5">Lecture et modification</option>
                            <option value="6">Création et modification</option>
                            <option value="7">Lecture, création et modification</option>
                            <option value="8">Suppression</option>
                            <option value="9">Lecture et suppression</option>
                            <option value="10">Création et suppression</option>
                            <option value="11">Lecture, création et suppression</option>
                            <option value="12">Modification et suppression</option>
                            <option value="13">Lecture, modification et suppression</option>
                            <option value="14">Création, modification et suppression</option>
                            <option value="15">Lecture, création, modification et suppression</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-sm float-end" (click)="creerAcces()">&#43;</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="erreurAjoutAcces">
            <div class="alert alert-danger" role="alert">
                Une erreur est survenue lors de l'ajout d'un accès.
            </div>
        </div>
        <div>
            <button *ngIf="!erreurChargementDroits && !displayNewLine" class="btn btn-outline-success"
                (click)="addUserAccess()">&#43;</button>
            <button *ngIf="!erreurChargementDroits && displayNewLine" class="btn btn-outline-secondary"
                (click)="hideAddUserAccess()">&#8854;</button>
        </div>
    </div>
</div>