<div class="modal fade"
     id="modifierErabliereFormModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modifierErabliereFormModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifierErabliereFormModalLabel">{{ modalTitle }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <erabliere-form></erabliere-form>
                @if(authEnabled) {
                <div class="container">
                    <hr />
                        @if(!afficherSectionAcces) {
                        <button
                            type="button"
                            class="btn btn-outline-secondary"
                            (click)="changerAffichageAcces()">
                            Afficher les accès
                        </button>
                        } @else {
                        <h5>Accès</h5>
                    <erabliere-access-list [idErabliere]="erabliere?.id"></erabliere-access-list>
                    }
                </div>
                }
                <div class="container">
                    @if(!afficherSectionDeleteErabliere) {
                    <div>
                        <hr />
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="showDeleteErabliere()">Supprimer</button>
                    </div>
                    } @else {
                    <div>
                        <hr />
                        <h5 class="text-danger">Supprimer l'érablière</h5>
                        <p class="text-danger">Cette action entrainera la suppression de l'érablère et de tout ses données liées. Les données ne pourront pas être récupérées.</p>
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteErabliere()">Supprimer</button>
                    </div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="onHideModal()">Annuler</button>
                <button type="button" class="btn btn-primary" (click)="modifierErabliere()">Modifier</button>
            </div>
        </div>
    </div>
</div>
