@model RedirectViewModel

<div class="redirect-page">
    <div class="lead">
        <h1>Vous êtes maintenant rediriger vers l'application</h1>
        <p>Une fois terminé, vous pouvez fermer cet onglet.</p>
    </div>
</div>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>
