<h3>Capteurs</h3>
<!-- Component CRUD pour les page-capteurs des érablière -->

<div>
@if(afficherSectionAjouterCapteur) {
    <ajouter-capteur
        [idErabliere]="idErabliereSelectionee"
        (hideAjouterCapteur)="hideAjouterCapteur()"
        (shouldReloadCapteurs)="getCapteurs()"
    />
} @else {
    <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        (click)="showAjouterCapteur()">Ajouter un capteur</button>
}
</div>

<capteur-list
            [idErabliere]="idErabliereSelectionee"
            [capteurs]="capteurs"
            (shouldRefreshCapteurs)="getCapteurs()"
            class="mb-3"
/>

<div class="mt-3">
@if(afficherSectionAjouterCapteurImage) {
    <ajouter-capteur-image
        (masquer)="afficherSectionAjouterCapteurImage = false"
        (rechargerCapteursImage)="'temp'"
        [idErabliere]="idErabliereSelectionee"
    />
} @else {
    <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        (click)="afficherSectionAjouterCapteurImage = true">Ajouter un capteur d'image</button>
}
</div>

<app-capteur-image-list
    [idErabliere]="idErabliereSelectionee"
    [capteurs]="capteursImage"
    (shouldRefreshCapteurs)="getCapteursImage()"
/>


