<h3>Capteurs</h3>
<!-- Component CRUD pour les page-capteurs des érablière -->

@if(afficherSectionAjouterCapteur) {
    <div>
        <ajouter-capteur
            [idErabliere]="idErabliereSelectionee"
            (hideAjouterCapteur)="hideAjouterCapteur()"
            (shouldReloadCapteurs)="getCapteurs()"></ajouter-capteur>
    </div>
} @else {
    <div>
        <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            (click)="showAjouterCapteur()">Ajouter un capteur</button>
    </div>
}
<capteur-list
            [idErabliere]="idErabliereSelectionee"
            [capteurs]="capteurs"
            (shouldRefreshCapteurs)="getCapteurs()"></capteur-list>

@if(afficherSectionAjouterCapteurImage) {
    <div>
        <ajouter-capteur-image
            (masquer)="afficherSectionAjouterCapteurImage = false"
            (rechargerCapteursImage)="'temp'"
            [idErabliere]="idErabliereSelectionee">
        </ajouter-capteur-image>
    </div>
} @else {
    <div>
        <button
            type="button"
            class="btn btn-outline-primary btn-sm"
            (click)="afficherSectionAjouterCapteurImage = true">Ajouter un capteur d'image</button>
    </div>
}

<app-capteur-image-list
    [idErabliere]="idErabliereSelectionee"
    [capteurs]="capteursImage"
    (shouldRefreshCapteurs)="getCapteursImage()"
/>


