<h3>À Propos</h3>
<hr />

<h4 class="mt-4">Érablière API</h4>
<p>Projet en développement, le but est de rendre ouverte les données reliées au érablière en fournissant des mécanisme de monitoring, d'alertage et de partage de donnée entre multiple érablière.</p>

<h4 class="mt-4">Comment ça marche ?</h4>
<p>
    Des ordinateurs dans le cloud sont dédié et receptionnent les données envoyés par divers équipements depuis des érablières. Les données peuvent ensuite être consulter à l'aide
    d'un navigateur web depuis un téléphone ou un ordinateur ayant accès à internet. <br />
    <br />
    Pour savoir si un appereil déjà à l'érablière est compatible avec cette technologie, il faut que cet appareil soit en mesure d'effectuer des requêtes http, ou de relayer 
    l'information à un apperil ayant cette capacité.
</p>

<h4 class="mt-4">Recherche d'érablière des érablières à connecter</h4>
<p>Vous aimeriez participez au développement de ce projet ? Envoyer un courriel à jacqu288@hotmail.ca</p>

<h4 class="mt-4">Recherche des développeur</h4>
<p>Vous aimeriez participez au développement de ce projet ? Parcourir le code source du programme sur <a href="https://github.com/freddycoder/ErabliereApi" target="_blank">github</a></p>
