<div>
    <span class="text-danger">
        {{generalError}}
    </span>
  <form [formGroup]="customerForm">
    <div class="form-group mb-2">
      <label class="form-label">Nom: </label>
      <input class="form-control" type="text" formControlName="nom">
      <input-error [errorObj]="errorObj" [controlName]="'nom'"></input-error>
    </div>
    <div class="form-group mb-2">
      <label class="form-label">Email: </label>
      <input class="form-control" type="email" formControlName="email">
      <input-error [errorObj]="errorObj" [controlName]="'email'"></input-error>
    </div>
    <button id="modifierCustomer" class="btn btn-primary me-2" (click)="onModifier()">Modifier</button>
    <button id="annulerModifiercCustomer" class="btn btn-secondary" (click)="onAnnuler()">Annuler</button>
  </form>
</div>
