.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-height: 95%;
  overflow: scroll;
  white-space: nowrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  max-width: 100%;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #1ecb2f;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to bottom right, rgb(144, 251, 165), rgb(33, 250, 69));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to bottom right, rgb(91, 243, 116), rgb(22, 248, 82))
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

@media screen and (max-width: 600px) {
  .chat-window {
    width: 100%;
    bottom: 0;
    right: 0;
  }
}