<div *ngIf="!display">
    <button id="addNoteButton" class="btn btn-primary" (click)="onButtonAjouterClick()">Ajouter</button>
</div>
<div *ngIf="display">
    <span class="text-danger">
        {{generalError}}
    </span>
    <form [formGroup]="noteForm">
        <div class="form-group">
          <label class="form-label">Titre: </label>
          <input class="form-control" type="text" formControlName="title">
          <input-error [errorObj]="errorObj" [controlName]="'title'"></input-error>
        </div>
        <div class="form-group">
          <label class="form-label">Texte: </label>
          <input class="form-control" type="text" formControlName="text">
          <input-error [errorObj]="errorObj" [controlName]="'text'"></input-error>
        </div>
        <div class="form-group">
          <label class="form-label">Fichier: </label>
          <input class="form-control" type="file" formControlName="file" (change)="convertToBase64($event)">
        </div>
        <input-error [errorObj]="errorObj" [controlName]="'file'"></input-error>
        <span class="text-danger">
          {{fileToLargeErrorMessage}}
        </span>
        <div class="form-group mb-3">
          <label class="form-label">Date de la note: </label>
          <input class="form-control" type="date" formControlName="noteDate">
          <input-error [errorObj]="errorObj" [controlName]="'noteDate'"></input-error>
        </div>
        <div class="form-group">
          <label class="form-check-label">
              <input class="form-check-input" type="checkbox" formControlName="reminderEnabled"> Rappel
          </label>
        </div>
        <div class="form-group mb-3" *ngIf="displayReminder">
            <label class="form-label">Date du rappel: </label>
            <input class="form-control" type="date" formControlName="reminderDate" [min]="today">
        </div>
        <input-error [errorObj]="errorObj" [controlName]="'reminderDate'"></input-error>
      <button id="creerNote" class="btn btn-primary me-2" (click)="onButtonCreerClick()">Créer</button>
      <button id="annulerCreerNote" class="btn btn-secondary" (click)="onButtonAnnuleClick()">Annuler</button>
    </form>
</div>
