<h3>Notes</h3>
<div class="mb-3" *ngIf="error">
    <span class="text-danger">{{error}}</span>
</div>
<div class="mb-3">
    <ajouter-note
        [idErabliereSelectionee]="idErabliereSelectionee"
        (needToUpdate)="loadNotes()"
    />
    <modifier-note
        [idErabliereSelectionee]="idErabliereSelectionee"
        [noteSubject]="noteToModify"
        (needToUpdate)="loadNotes()"
    />
</div>
<div class="row me-1">
    @if(notes === undefined) {
        <div>
            <p>Chargement des notes...</p>
        </div>
    } @else if (notes.length === 0) {
        <div>
            <p>Aucune note</p>
        </div>
    }

    @for(note of notes; track note.id) {
        <div>
            <note
                [note]="note"
                [noteToModifySubject]="noteToModify"
                (needToUpdate)="loadNotes()"
            />
        </div>
    }

    <app-pagination
        [estDernierePage]="this.notes ? this.notes.length < this.nombreParPage : true"
        [nombreParPage]="this.nombreParPage"
        (changementDePageEvent)="this.pageActuelle = $event"
    />
</div>
