<div id="note-{{ note.id }}" class="card mb-3">
    <h4 class="card-header">{{ note.title }}</h4>

    <div class="card-body">
        <p class="noteDescription card-text">{{ note.text }}</p>

        <p *ngIf="note.fileExtension === 'csv'" class="card-text">{{ note.decodedTextFile }}</p>

        <p class="noteDate card-text"><small class="text-muted">{{ note.noteDate }}</small></p>

      <p *ngIf="note.rappel && note.rappel.dateRappel" class="noteReminder card-text"><small class="text-muted">Date Rappel: {{ note.rappel.dateRappel }}</small></p>

      <p *ngIf="note.rappel && note.rappel.dateRappelFin" class="noteReminder card-text"><small class="text-muted">Date de fin Rappel: {{ note.rappel.dateRappelFin }}</small></p>

      <p *ngIf="note.rappel && note.rappel.periodicite" class="noteReminder card-text"><small class="text-muted">Periodicite: {{ note.rappel.periodicite }}</small></p>


        <div class="btn-group me-2">
            <button class="btn btn-info btn-sm" (click)="selectEditNote()">Modifier</button>
        </div>
        <div class="btn-group">
            <button class="btn btn-danger btn-sm" (click)="deleteNote()">Supprimer</button>
        </div>
    </div>

    <div *ngIf="note.fileExtension !== 'csv'">
        <div class="container">
            <img
                *ngIf="note.file !== ''"
                class="card-img-bottom img-thumbnail rounded mx-auto d-block"
                style="max-width: 50%;"
                src="data:image/png;base64,{{ note.file }}" />
        </div>
    </div>
</div>
